# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-symlinks
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude_types: [batch]
      - id: mixed-line-ending
        args: [--fix=crlf]
        types: [batch]
      - id: trailing-whitespace
  - repo: https://github.com/glektarssza/pre-commit-hooks.git
    rev: v0.4.0
    hooks:
      - id: pnpm-lint
        pass_filenames: false
      - id: pnpm-test
        pass_filenames: false
