doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='application-name' content='Webcraft')
        title Webcraft
        link(rel='stylesheet', href=require('./scss/index.scss'))
        script(src=require('./ts/index.ts'))
    body
        div#app
        div#error-container.container.no-display
            div.error-container
                div#error-title-container.error-title
                    h3#error-title
                div#error-desc-container.error-desc
                    p#error-desc
                div#error-stack-container.error-stack
                    code#error-stack
