doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='application-name' content='Webcraft')
        title Webcraft
        link(rel='stylesheet', href=require('./scss/index.scss'))
        script(src=require('./ts/index.ts'))
    body
        div#app
