# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Manual Deploy
on:
  workflow_dispatch:
    inputs:
      artifact-name:
        description: |
          The name of the artifact to deploy.
        type: string
        required: true
      run-id:
        description: |
          The run ID which created the artifact to deploy.
        type: string
        required: true
jobs:
  publish:
    name: Publish
    permissions:
      # -- Needed to checkout the repository
      contents: read
      # -- Needed to write to GitHub Pages
      pages: write
      # -- Needed to deploy to GitHub Pages
      id-token: write
    concurrency:
      group: deploy-github-pages
      cancel-in-progress: false
    uses: ./.github/workflows/deploy.yaml
    secrets:
      github-token: ${{secrets.GITHUB_TOKEN}}
    with:
      artifact-name: ${{inputs.artifact-name}}
      run-id: ${{inputs.run-id}}
